/*
Vars
*/

$black:#010000;
$white: #ffffff;
$lightGrey:#e6e6e6;
$red:#ff1755;

/*
Mixings
*/ 

@mixin translateY($e){
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e)
}

@mixin transition($e){
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}


/* Fonts -

regular 400
regular 400 italic
bold 700
bold 700 Italic

*/

body{
    font-family:'Open Sans',sans-seriff;
    font-size:18px;
    color:$black;
    font-style:normal;
}

a{
    text-decoration: none;
    @include transition(.3s ease-in-out);
    cursor:pointer;

    &:hover{
        color:$red;
        @include transition(.4s ease-in-out);

    }
}
